<div class="row">
    <div class="col-lg-3" ng-repeat="user in staff">
        <div class="contact-box center-version" id="user-{{user.id}}">
            <a href="profile.html">
                <img alt="image" class="img-circle" src="img/a2.jpg">
                <h3 class="m-b-xs"><strong>{{ user.login }}</strong></h3>
                <div class="font-bold">Kelner</div>
            </a>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    <a class="btn btn-xs btn-white" href="mailto:{{user.mail}}"><i class="fa fa-envelope"></i> Email</a>
                    <a class="btn btn-xs btn-white" data-login="{{user.login}}" ng-click="delete(user.id, user.login)"><i class="fa fa-user-times"></i> Usuń</a>
                </div>
            </div>
        </div>
    </div>
</div>